src/main/resources/GetSnapshotUri.xsd



<xs:schema
	targetNamespace="http://www.onvif.org/ver10/media/wsdl"
	elementFormDefault="qualified" version="21.06"
	xmlns:tt="http://www.onvif.org/ver10/schema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.onvif.org/ver10/schema"
		schemaLocation="onvif.xsd" />

      <xs:element name="GetSnapshotUri">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ProfileToken" type="tt:ReferenceToken">
              <xs:annotation>
                <xs:documentation>The ProfileToken element indicates the media profile to use and will define the source and dimensions of the snapshot.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

	<xs:element name="GetSnapshotUriResponse">
		<xs:complexType>
          <xs:sequence>
            <xs:element name="MediaUri" type="tt:MediaUri">
              <xs:annotation>
                <xs:documentation/>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
	</xs:element>

</xs:schema>
