src/main/resources/onvif.xsd

<xs:schema targetNamespace="http://www.onvif.org/ver10/schema"
	elementFormDefault="qualified" version="25.06"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tt="http://www.onvif.org/ver10/schema"
	xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2">

	<xs:simpleType name="ReferenceToken">


		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MediaUri">
		<xs:sequence>
			<xs:element name="Uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Stable Uri to be used for requesting the media
						stream
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvalidAfterConnect" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates if the Uri is only valid until the
						connection is established. The value shall be set to "false".
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvalidAfterReboot" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates if the Uri is invalid after a reboot of
						the device. The value shall be set to "false".
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timeout" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Duration how long the Uri is valid. This
						parameter shall be set to PT0S to indicate that this stream URI is
						indefinitely valid even if the profile changes
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##any" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
			<!--first Vendor then ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax" />
	</xs:complexType>

</xs:schema>