src/main/resources/PullMessages.xsd

<xs:schema
	targetNamespace="http://www.onvif.org/ver10/events/wsdl"
	xmlns:xxxx="http://www.onvif.org/ver10/events/wsdl"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	elementFormDefault="qualified" version="24.12">
	<xs:import namespace="http://www.w3.org/2005/08/addressing"
		schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" />

	<xs:element name="PullMessages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Timeout" type="xs:duration">
					<xs:annotation>
						<xs:documentation>Maximum time to block until this method returns.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MessageLimit" type="xs:int">
					<xs:annotation>
						<xs:documentation>Upper limit for the number of messages to return
							at once. A server implementation may decide to return less
							messages.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:any namespace="##other" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>



		</xs:complexType>
	</xs:element>


	<xs:element name="PullMessagesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CurrentTime" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>The date and time when the messages have been
							delivered by the web server to the client.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TerminationTime" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Date time when the PullPoint will be shut down
							without further pull requests.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="xxxx:NotificationMessage" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>List of messages. This list shall be empty in
							case of a timeout.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="NotificationMessageHolderType">
		<xs:sequence>
			<xs:element ref="xxxx:SubscriptionReference" minOccurs="0"
				maxOccurs="1" />
			<xs:element ref="xxxx:Topic" minOccurs="0" maxOccurs="1" />
			<xs:element ref="xxxx:ProducerReference" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Message">
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##any" processContents="lax"
							minOccurs="1" maxOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TopicExpressionType" mixed="true">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="1" processContents="lax" />
		</xs:sequence>
		<xs:attribute name="Dialect" type="xs:anyURI"
			use="required" />
		<xs:anyAttribute />
	</xs:complexType>


	<xs:element name="NotificationMessage"
		type="xxxx:NotificationMessageHolderType" />
	<xs:element name="SubscriptionReference"
		type="wsa:EndpointReferenceType" />
	<xs:element name="ProducerReference"
		type="wsa:EndpointReferenceType" />
	<xs:element name="Topic" type="xxxx:TopicExpressionType" />
</xs:schema>
			